<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login Form</title>
        <link rel = "stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('./partials/messages') %>
        <div class="box">
            <h2>Welcome</h2>
            <form method="post" id="data" autocomplete="off" action="/users/login">
                <h2 style="text-align: left; color:#9c8888ad">Login</h2>
                <br>
                
                <div class="inputBox">
                    <input type = "email" name = "email" required="true">
                    <label>Email Address</label>
                </div>
                
                <div class="inputBox">
                    <input type = "password" name = "password" required="true">
                    <label>password</label>
                </div>
                
                <div style="text-align:center">
                    <input type = "submit" name="" value="Submit">
                </div>
            </form>
            <div>
                <a href="/users/signup" style="    font-size: 12px;
                position: relative;
                top: 28px;
                left: 34px;">Didn't have an account? Signup Instead!</a>
            </div>
        </div>
    </body>
</html>