body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../images/images.png);
    background-size: cover;
}

.box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50vh;
    height:80vh;
    padding: 40px;
    margin-top:5vh;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 1.2vh;
    overflow-y:scroll;
}

.box h2{
    margin : 0 0 30px;
    padding: 0;
    color:#fff;
    text-align: center
}

.box .inputBox {
    position: relative;
}
.box .inputBox input{
    width:100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 40px;
    border:none;
    border-bottom: 1px solid #fff;
    outline:none;
    background:transparent;
    
}


.box {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  .box::-webkit-scrollbar { 
    display: none;  
  }
  
  textarea {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  
  textarea::-webkit-scrollbar { 
    display: none;  
  }

.box .inputBox label{
    position: absolute;
    top:0;
    left:0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events:none;
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -26px;
    left:0;
    color:#03a9f4;
    font-size: 12px;
}

.box input[type="submit" i]{
    background: transparent;
    border:none;
    outline:none;
    color:#fff;
    align-items: center;
    font-size: 16px;
    background:#03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius:5px;
}
input::placeholder{
    color:transparent;
 }
 input:focus::placeholder{
    color:#ECECF2;
  }

  
@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
  .box{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      width:47vh;
      height:80vh;
      padding:40px;
      padding-bottom: 10vh;
      margin-top:5vh;
      background: rgba(0,0,0,0.6);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,0.3);
      border-radius: 1.2vh;
      overflow-y:scroll;
  }
}
